

.nav {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width:150px;
}

.nav li {
    list-style-type: none;
    float: left;
}

.nav li a {
    color: white;
    line-height: 40px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.nav li a:hover {
    background: rgba(0, 0, 0, 0.322);
    cursor: pointer;
}
.nav .searchNav{
    float:left;
    padding-left: 5%;
}